html {
    counter-reset: chapter;
}
h2::before {
    counter-increment: chapter;
    content: counter(chapter) " ";
}
h2 {
    counter-reset: section image-figure table-figure;
}
h3::before {
    counter-increment: section;
    content: counter(chapter) "." counter(section) " ";
}
h3 {
    counter-reset: subsection;
}
h4::before {
    counter-increment: subsection;
    content: counter(chapter) "." counter(section) "." counter(subsection) " ";
}
figure:has(> img) > figcaption::before {
    counter-increment: image-figure;
    content: "図" counter(chapter) "." counter(image-figure);
}
figure:has(> table) > figcaption::before {
    counter-increment: table-figure;
    content: "表" counter(chapter) "." counter(table-figure);
}
p:not(h1 + p) {
    text-indent: 1em;
}
@media print {
    h1 {
        text-align: center;
    }
    h1 + p {
        text-align: right;
    }
}